In [1]:
!curl http://www.codeheroku.com/static/workshop/datasets/movie_dataset.csv -o movie_dataset.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 22.3M  100 22.3M    0     0   655k      0  0:00:34  0:00:34 --:--:--  490k 35 8213k    0     0   780k      0  0:00:29  0:00:10  0:00:19  523k6  0:00:15  0:00:11 1063k

In [4]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
##Step 1: Read CSV File
df = pd.read_csv("movie_dataset.csv")
#print df.columns
df.head()
##Step 2: Select Features

features = ['keywords','cast','genres','director']
##Step 3: Create a column in DF which combines all selected features

for feature in features:
   df[feature] = df[feature].fillna('')

In [22]:
def combine_features(row):
    try:
        return row['keywords'] +" "+row['cast']+" "+row["genres"]+" "+row["director"]
    except:
        print("Error:", row)

df["combined_features"] = df.apply(combine_features,axis=1)
df.iloc[0]["combined_features"]

'culture clash future space war space colony society Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez Action Adventure Fantasy Science Fiction James Cameron'

In [30]:
df['combined_features']
df.head(1)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director,combined_features
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron,culture clash future space war space colony so...

In [5]:
#print "Combined Features:", df["combined_features"].head()

##Step 4: Create count matrix from this new combined column
cv = CountVectorizer()

count_matrix = cv.fit_transform(df["combined_features"])

In [6]:
##Step 5: Compute the Cosine Similarity based on the count_matrix
cosine_sim = cosine_similarity(count_matrix)

In [9]:
sim_df = pd.DataFrame(cosine_sim,index=df.title,columns=df.title)

In [10]:
sim_df.head()

title,Avatar,Pirates of the Caribbean: At World's End,Spectre,The Dark Knight Rises,John Carter,Spider-Man 3,Tangled,Avengers: Age of Ultron,Harry Potter and the Half-Blood Prince,Batman v Superman: Dawn of Justice,...,On The Downlow,Sanctuary: Quite a Conundrum,Bang,Primer,Cavite,El Mariachi,Newlyweds,"Signed, Sealed, Delivered",Shanghai Calling,My Date with Drew
title,,,,,,,,,,,,,,,,,,,,,
Avatar,1.000000,0.105409,0.120386,0.037743,0.230940,0.192450,0.0,0.140546,0.082061,0.117851,...,0.000000,0.000000,0.000000,0.070273,0.000000,0.075485,0.0,0.000000,0.000000,0.0
Pirates of the Caribbean: At World's End,0.105409,1.000000,0.076139,0.035806,0.073030,0.255604,0.0,0.066667,0.116775,0.111803,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.035806,0.0,0.036515,0.000000,0.0
Spectre,0.120386,0.076139,1.000000,0.163572,0.208514,0.125109,0.0,0.190347,0.088911,0.170251,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.081786,0.0,0.000000,0.111456,0.0
The Dark Knight Rises,0.037743,0.035806,0.163572,1.000000,0.039223,0.078446,0.0,0.035806,0.083624,0.120096,...,0.089984,0.050637,0.125436,0.107417,0.087706,0.153846,0.0,0.039223,0.000000,0.0
John Carter,0.230940,0.073030,0.208514,0.039223,1.000000,0.200000,0.0,0.219089,0.042640,0.163299,...,0.000000,0.051640,0.000000,0.109545,0.000000,0.039223,0.0,0.000000,0.000000,0.0

In [16]:
movie_user_likes = "Avatar"
sim_df[movie_user_likes].sort_values(ascending=False)[:20]

title
Avatar                             1.000000
Guardians of the Galaxy            0.423390
Aliens                             0.377426
Star Wars: Clone Wars: Volume 1    0.346410
Star Trek Into Darkness            0.344265
Star Trek Beyond                   0.335968
Alien                              0.333333
Lockout                            0.314270
Jason X                            0.307920
The Helix... Loaded                0.288675
Moonraker                          0.285897
Planet of the Apes                 0.281091
Galaxy Quest                       0.280900
Gravity                            0.276520
Alien³                             0.274986
Jupiter Ascending                  0.274986
The Wolverine                      0.269430
Silent Running                     0.269430
Zathura: A Space Adventure         0.264198
Trekkies                           0.264198
Name: Avatar, dtype: float64