# Manipulating the DataSet

##### how to perform indexing on the dataset ?
##### How to set value for a column ?
##### How to manipulate data using lamda function ?
##### how to sort a column ?
##### hot to filter your records ?

##### Comment indexer une dataSet ?
##### Comment definir une valeur pour une colonne ?
##### Comment manipuler les donnees utilisant la fontion Lamda ?
##### Comment trier une colonne ?
##### Comment filtrer ses enreg ?

In [7]:
import pandas as pd
#read dataFrame and stor into a dataFrame
cars = pd.read_csv("GOOG.csv")
cars.head(6)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,778.809998,789.630005,775.799988,786.140015,786.140015,1657300
1,2017-01-04,788.359985,791.340027,783.159973,786.900024,786.900024,1073000
2,2017-01-05,786.080017,794.479980,785.020020,794.020020,794.020020,1335200
3,2017-01-06,795.260010,807.900024,792.203979,806.150024,806.150024,1640200
4,2017-01-09,806.400024,809.966003,802.830017,806.650024,806.650024,1274600
5,2017-01-10,807.859985,809.130005,803.510010,804.789978,804.789978,1176800

In [1]:
# view Open fourth value
cars.Close[4]
# view only Close Stock
cars.iloc[:, 4] #iloc veut dire 'index location'
# same with ~ cars.Close[:]

NameError: name 'cars' is not defined

In [23]:
# see the first five reccord of Close column
cars.iloc[0:5, 4]
# same with ~ cars.Close.head(5)

0    786.140015
1    786.900024
2    794.020020
3    806.150024
4    806.650024
Name: Close, dtype: float64

In [25]:
# view all rows and all columns
cars.iloc[:,:]
#same with ~ cars ~ car[:]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,778.809998,789.630005,775.799988,786.140015,786.140015,1657300
1,2017-01-04,788.359985,791.340027,783.159973,786.900024,786.900024,1073000
2,2017-01-05,786.080017,794.479980,785.020020,794.020020,794.020020,1335200
3,2017-01-06,795.260010,807.900024,792.203979,806.150024,806.150024,1640200
4,2017-01-09,806.400024,809.966003,802.830017,806.650024,806.650024,1274600
5,2017-01-10,807.859985,809.130005,803.510010,804.789978,804.789978,1176800
6,2017-01-11,805.000000,808.150024,801.369995,807.909973,807.909973,1065900
7,2017-01-12,807.140015,807.390015,799.169983,806.359985,806.359985,1353100
8,2017-01-13,807.479980,811.223999,806.690002,807.880005,807.880005,1099200
9,2017-01-17,807.080017,807.140015,800.369995,804.609985,804.609985,1362100
10,2017-01-18,805.809998,806.205017,800.989990,806.070007,806.070007,1294400
11,2017-01-19,805.119995,809.479980,801.799988,802.174988,802.174988,919300
12,2017-01-20,806.909973,806.909973,801.690002,805.020020,805.020020,1670000
13,2017-01-23,807.250000,820.869995,803.739990,819.309998,819.309998,1963600
14,2017-01-24,822.299988,825.900024,817.820984,823.869995,823.869995,1474000
15,2017-01-25,829.619995,835.770020,825.059998,835.669983,835.669983,1494500
16,2017-01-26,837.809998,838.000000,827.010010,832.150024,832.150024,2973900
17,2017-01-27,834.710022,841.950012,820.440002,823.309998,823.309998,2965800
18,2017-01-30,814.659973,815.840027,799.799988,802.320007,802.320007,3246600
19,2017-01-31,796.859985,801.250000,790.520020,796.789978,796.789978,2160600
20,2017-02-01,799.679993,801.190002,791.190002,795.695007,795.695007,2029700
21,2017-02-02,793.799988,802.700012,792.000000,798.530029,798.530029,1532100
22,2017-02-03,802.989990,806.000000,800.369995,801.489990,801.489990,1463400
23,2017-02-06,799.700012,801.669983,795.250000,801.340027,801.340027,1184500
24,2017-02-07,803.989990,810.500000,801.780029,806.969971,806.969971,1241200
25,2017-02-08,807.000000,811.840027,803.190002,808.380005,808.380005,1155300
26,2017-02-09,809.510010,810.659973,804.539978,809.559998,809.559998,989700
27,2017-02-10,811.700012,815.250000,809.780029,813.669983,813.669983,1135000
28,2017-02-13,816.000000,820.958984,815.489990,819.239990,819.239990,1213300
29,2017-02-14,819.000000,823.000000,816.000000,820.450012,820.450012,1054700
...,...,...,...,...,...,...,...
620,2019-06-21,1109.239990,1124.109985,1108.079956,1121.880005,1121.880005,1947600
621,2019-06-24,1119.609985,1122.000000,1111.010010,1115.520020,1115.520020,1395600
622,2019-06-25,1112.660034,1114.349976,1083.800049,1086.349976,1086.349976,1546900
623,2019-06-26,1086.500000,1092.969971,1072.239990,1079.800049,1079.800049,1810900
624,2019-06-27,1084.000000,1087.099976,1075.290039,1076.010010,1076.010010,1004300
625,2019-06-28,1076.390015,1081.000000,1073.369995,1080.910034,1080.910034,1693200
626,2019-07-01,1098.000000,1107.579956,1093.703003,1097.949951,1097.949951,1436300
627,2019-07-02,1102.239990,1111.770020,1098.170044,1111.250000,1111.250000,991600
628,2019-07-03,1117.410034,1126.760010,1113.859985,1121.579956,1121.579956,767000
629,2019-07-05,1117.800049,1132.880005,1116.140015,1131.589966,1131.589966,1264300
630,2019-07-08,1125.170044,1125.979980,1111.209961,1116.349976,1116.349976,1236400
631,2019-07-09,1111.800049,1128.025024,1107.170044,1124.829956,1124.829956,1330400
632,2019-07-10,1131.219971,1142.050049,1130.969971,1140.479980,1140.479980,1209500
633,2019-07-11,1143.250000,1153.069946,1139.579956,1144.209961,1144.209961,1195500
634,2019-07-12,1143.989990,1147.339966,1138.780029,1144.900024,1144.900024,864000
635,2019-07-15,1146.859985,1150.819946,1139.400024,1150.339966,1150.339966,903800
636,2019-07-16,1146.000000,1158.579956,1145.000000,1153.579956,1153.579956,1238800
637,2019-07-17,1150.969971,1158.359985,1145.770020,1146.349976,1146.349976,1170000
638,2019-07-18,1141.739990,1147.604980,1132.729980,1146.329956,1146.329956,1291300
639,2019-07-19,1148.189941,1151.140015,1129.619995,1130.099976,1130.099976,1647200
640,2019-07-22,1133.449951,1139.250000,1124.239990,1138.069946,1138.069946,1301500
641,2019-07-23,1144.000000,1146.900024,1131.800049,1146.209961,1146.209961,1093700
642,2019-07-24,1131.900024,1144.000000,1126.989990,1137.810059,1137.810059,1589800
643,2019-07-25,1137.819946,1141.699951,1120.920044,1132.119995,1132.119995,2209800
644,2019-07-26,1224.040039,1265.550049,1224.000000,1250.410034,1250.410034,4805800
645,2019-07-29,1241.050049,1247.369995,1228.229980,1239.410034,1239.410034,2223700
646,2019-07-30,1225.410034,1234.869995,1223.300049,1225.140015,1225.140015,1453300
647,2019-07-31,1223.000000,1234.000000,1207.764038,1216.680054,1216.680054,1725500
648,2019-08-01,1214.030029,1234.109985,1205.719971,1209.010010,1209.010010,1698500
649,2019-08-02,1200.739990,1206.900024,1188.939941,1193.989990,1193.989990,1634600

In [28]:
# see records from a certain index
cars.iloc[6:, 4] # from 6th to all

6       807.909973
7       806.359985
8       807.880005
9       804.609985
10      806.070007
11      802.174988
12      805.020020
13      819.309998
14      823.869995
15      835.669983
16      832.150024
17      823.309998
18      802.320007
19      796.789978
20      795.695007
21      798.530029
22      801.489990
23      801.340027
24      806.969971
25      808.380005
26      809.559998
27      813.669983
28      819.239990
29      820.450012
30      818.979980
31      824.159973
32      828.070007
33      831.659973
34      830.760010
35      831.330017
          ...
620    1121.880005
621    1115.520020
622    1086.349976
623    1079.800049
624    1076.010010
625    1080.910034
626    1097.949951
627    1111.250000
628    1121.579956
629    1131.589966
630    1116.349976
631    1124.829956
632    1140.479980
633    1144.209961
634    1144.900024
635    1150.339966
636    1153.579956
637    1146.349976
638    1146.329956
639    1130.099976
640    1138.069946
641    1146.209961
642    1137.810059
643    1132.119995
644    1250.410034
645    1239.410034
646    1225.140015
647    1216.680054
648    1209.010010
649    1193.989990
Name: Close, Length: 644, dtype: float64

In [30]:
# see all the record of Close column 
cars.loc[:, "Close"] # loc veut dire 'location'

0       786.140015
1       786.900024
2       794.020020
3       806.150024
4       806.650024
5       804.789978
6       807.909973
7       806.359985
8       807.880005
9       804.609985
10      806.070007
11      802.174988
12      805.020020
13      819.309998
14      823.869995
15      835.669983
16      832.150024
17      823.309998
18      802.320007
19      796.789978
20      795.695007
21      798.530029
22      801.489990
23      801.340027
24      806.969971
25      808.380005
26      809.559998
27      813.669983
28      819.239990
29      820.450012
          ...
620    1121.880005
621    1115.520020
622    1086.349976
623    1079.800049
624    1076.010010
625    1080.910034
626    1097.949951
627    1111.250000
628    1121.579956
629    1131.589966
630    1116.349976
631    1124.829956
632    1140.479980
633    1144.209961
634    1144.900024
635    1150.339966
636    1153.579956
637    1146.349976
638    1146.329956
639    1130.099976
640    1138.069946
641    1146.209961
642    1137.810059
643    1132.119995
644    1250.410034
645    1239.410034
646    1225.140015
647    1216.680054
648    1209.010010
649    1193.989990
Name: Close, Length: 650, dtype: float64

In [32]:
# indexer en colonne les 7 premier ligne
cars.loc[:6, "Open":"Close"]

         Open        High         Low       Close
0  778.809998  789.630005  775.799988  786.140015
1  788.359985  791.340027  783.159973  786.900024
2  786.080017  794.479980  785.020020  794.020020
3  795.260010  807.900024  792.203979  806.150024
4  806.400024  809.966003  802.830017  806.650024
5  807.859985  809.130005  803.510010  804.789978
6  805.000000  808.150024  801.369995  807.909973

In [34]:
# definir la valeur a la colonne Adj Close
cars['Adj Close'] = 1
cars

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,778.809998,789.630005,775.799988,786.140015,1,1657300
1,2017-01-04,788.359985,791.340027,783.159973,786.900024,1,1073000
2,2017-01-05,786.080017,794.479980,785.020020,794.020020,1,1335200
3,2017-01-06,795.260010,807.900024,792.203979,806.150024,1,1640200
4,2017-01-09,806.400024,809.966003,802.830017,806.650024,1,1274600
5,2017-01-10,807.859985,809.130005,803.510010,804.789978,1,1176800
6,2017-01-11,805.000000,808.150024,801.369995,807.909973,1,1065900
7,2017-01-12,807.140015,807.390015,799.169983,806.359985,1,1353100
8,2017-01-13,807.479980,811.223999,806.690002,807.880005,1,1099200
9,2017-01-17,807.080017,807.140015,800.369995,804.609985,1,1362100
10,2017-01-18,805.809998,806.205017,800.989990,806.070007,1,1294400
11,2017-01-19,805.119995,809.479980,801.799988,802.174988,1,919300
12,2017-01-20,806.909973,806.909973,801.690002,805.020020,1,1670000
13,2017-01-23,807.250000,820.869995,803.739990,819.309998,1,1963600
14,2017-01-24,822.299988,825.900024,817.820984,823.869995,1,1474000
15,2017-01-25,829.619995,835.770020,825.059998,835.669983,1,1494500
16,2017-01-26,837.809998,838.000000,827.010010,832.150024,1,2973900
17,2017-01-27,834.710022,841.950012,820.440002,823.309998,1,2965800
18,2017-01-30,814.659973,815.840027,799.799988,802.320007,1,3246600
19,2017-01-31,796.859985,801.250000,790.520020,796.789978,1,2160600
20,2017-02-01,799.679993,801.190002,791.190002,795.695007,1,2029700
21,2017-02-02,793.799988,802.700012,792.000000,798.530029,1,1532100
22,2017-02-03,802.989990,806.000000,800.369995,801.489990,1,1463400
23,2017-02-06,799.700012,801.669983,795.250000,801.340027,1,1184500
24,2017-02-07,803.989990,810.500000,801.780029,806.969971,1,1241200
25,2017-02-08,807.000000,811.840027,803.190002,808.380005,1,1155300
26,2017-02-09,809.510010,810.659973,804.539978,809.559998,1,989700
27,2017-02-10,811.700012,815.250000,809.780029,813.669983,1,1135000
28,2017-02-13,816.000000,820.958984,815.489990,819.239990,1,1213300
29,2017-02-14,819.000000,823.000000,816.000000,820.450012,1,1054700
...,...,...,...,...,...,...,...
620,2019-06-21,1109.239990,1124.109985,1108.079956,1121.880005,1,1947600
621,2019-06-24,1119.609985,1122.000000,1111.010010,1115.520020,1,1395600
622,2019-06-25,1112.660034,1114.349976,1083.800049,1086.349976,1,1546900
623,2019-06-26,1086.500000,1092.969971,1072.239990,1079.800049,1,1810900
624,2019-06-27,1084.000000,1087.099976,1075.290039,1076.010010,1,1004300
625,2019-06-28,1076.390015,1081.000000,1073.369995,1080.910034,1,1693200
626,2019-07-01,1098.000000,1107.579956,1093.703003,1097.949951,1,1436300
627,2019-07-02,1102.239990,1111.770020,1098.170044,1111.250000,1,991600
628,2019-07-03,1117.410034,1126.760010,1113.859985,1121.579956,1,767000
629,2019-07-05,1117.800049,1132.880005,1116.140015,1131.589966,1,1264300
630,2019-07-08,1125.170044,1125.979980,1111.209961,1116.349976,1,1236400
631,2019-07-09,1111.800049,1128.025024,1107.170044,1124.829956,1,1330400
632,2019-07-10,1131.219971,1142.050049,1130.969971,1140.479980,1,1209500
633,2019-07-11,1143.250000,1153.069946,1139.579956,1144.209961,1,1195500
634,2019-07-12,1143.989990,1147.339966,1138.780029,1144.900024,1,864000
635,2019-07-15,1146.859985,1150.819946,1139.400024,1150.339966,1,903800
636,2019-07-16,1146.000000,1158.579956,1145.000000,1153.579956,1,1238800
637,2019-07-17,1150.969971,1158.359985,1145.770020,1146.349976,1,1170000
638,2019-07-18,1141.739990,1147.604980,1132.729980,1146.329956,1,1291300
639,2019-07-19,1148.189941,1151.140015,1129.619995,1130.099976,1,1647200
640,2019-07-22,1133.449951,1139.250000,1124.239990,1138.069946,1,1301500
641,2019-07-23,1144.000000,1146.900024,1131.800049,1146.209961,1,1093700
642,2019-07-24,1131.900024,1144.000000,1126.989990,1137.810059,1,1589800
643,2019-07-25,1137.819946,1141.699951,1120.920044,1132.119995,1,2209800
644,2019-07-26,1224.040039,1265.550049,1224.000000,1250.410034,1,4805800
645,2019-07-29,1241.050049,1247.369995,1228.229980,1239.410034,1,2223700
646,2019-07-30,1225.410034,1234.869995,1223.300049,1225.140015,1,1453300
647,2019-07-31,1223.000000,1234.000000,1207.764038,1216.680054,1,1725500
648,2019-08-01,1214.030029,1234.109985,1205.719971,1209.010010,1,1698500
649,2019-08-02,1200.739990,1206.900024,1188.939941,1193.989990,1,1634600

In [42]:
# doubler les enregistrements de 'Adj Close' en utilisant les fonction lamda fxn
f = lambda x: x*2
cars['Adj Close'] = cars['Adj Close'].apply(f)
cars

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,778.809998,789.630005,775.799988,786.140015,2.0,1657300
1,2017-01-04,788.359985,791.340027,783.159973,786.900024,2.0,1073000
2,2017-01-05,786.080017,794.479980,785.020020,794.020020,2.0,1335200
3,2017-01-06,795.260010,807.900024,792.203979,806.150024,2.0,1640200
4,2017-01-09,806.400024,809.966003,802.830017,806.650024,2.0,1274600
5,2017-01-10,807.859985,809.130005,803.510010,804.789978,2.0,1176800
6,2017-01-11,805.000000,808.150024,801.369995,807.909973,2.0,1065900
7,2017-01-12,807.140015,807.390015,799.169983,806.359985,2.0,1353100
8,2017-01-13,807.479980,811.223999,806.690002,807.880005,2.0,1099200
9,2017-01-17,807.080017,807.140015,800.369995,804.609985,2.0,1362100
10,2017-01-18,805.809998,806.205017,800.989990,806.070007,2.0,1294400
11,2017-01-19,805.119995,809.479980,801.799988,802.174988,2.0,919300
12,2017-01-20,806.909973,806.909973,801.690002,805.020020,2.0,1670000
13,2017-01-23,807.250000,820.869995,803.739990,819.309998,2.0,1963600
14,2017-01-24,822.299988,825.900024,817.820984,823.869995,2.0,1474000
15,2017-01-25,829.619995,835.770020,825.059998,835.669983,2.0,1494500
16,2017-01-26,837.809998,838.000000,827.010010,832.150024,2.0,2973900
17,2017-01-27,834.710022,841.950012,820.440002,823.309998,2.0,2965800
18,2017-01-30,814.659973,815.840027,799.799988,802.320007,2.0,3246600
19,2017-01-31,796.859985,801.250000,790.520020,796.789978,2.0,2160600
20,2017-02-01,799.679993,801.190002,791.190002,795.695007,2.0,2029700
21,2017-02-02,793.799988,802.700012,792.000000,798.530029,2.0,1532100
22,2017-02-03,802.989990,806.000000,800.369995,801.489990,2.0,1463400
23,2017-02-06,799.700012,801.669983,795.250000,801.340027,2.0,1184500
24,2017-02-07,803.989990,810.500000,801.780029,806.969971,2.0,1241200
25,2017-02-08,807.000000,811.840027,803.190002,808.380005,2.0,1155300
26,2017-02-09,809.510010,810.659973,804.539978,809.559998,2.0,989700
27,2017-02-10,811.700012,815.250000,809.780029,813.669983,2.0,1135000
28,2017-02-13,816.000000,820.958984,815.489990,819.239990,2.0,1213300
29,2017-02-14,819.000000,823.000000,816.000000,820.450012,2.0,1054700
...,...,...,...,...,...,...,...
620,2019-06-21,1109.239990,1124.109985,1108.079956,1121.880005,2.0,1947600
621,2019-06-24,1119.609985,1122.000000,1111.010010,1115.520020,2.0,1395600
622,2019-06-25,1112.660034,1114.349976,1083.800049,1086.349976,2.0,1546900
623,2019-06-26,1086.500000,1092.969971,1072.239990,1079.800049,2.0,1810900
624,2019-06-27,1084.000000,1087.099976,1075.290039,1076.010010,2.0,1004300
625,2019-06-28,1076.390015,1081.000000,1073.369995,1080.910034,2.0,1693200
626,2019-07-01,1098.000000,1107.579956,1093.703003,1097.949951,2.0,1436300
627,2019-07-02,1102.239990,1111.770020,1098.170044,1111.250000,2.0,991600
628,2019-07-03,1117.410034,1126.760010,1113.859985,1121.579956,2.0,767000
629,2019-07-05,1117.800049,1132.880005,1116.140015,1131.589966,2.0,1264300
630,2019-07-08,1125.170044,1125.979980,1111.209961,1116.349976,2.0,1236400
631,2019-07-09,1111.800049,1128.025024,1107.170044,1124.829956,2.0,1330400
632,2019-07-10,1131.219971,1142.050049,1130.969971,1140.479980,2.0,1209500
633,2019-07-11,1143.250000,1153.069946,1139.579956,1144.209961,2.0,1195500
634,2019-07-12,1143.989990,1147.339966,1138.780029,1144.900024,2.0,864000
635,2019-07-15,1146.859985,1150.819946,1139.400024,1150.339966,2.0,903800
636,2019-07-16,1146.000000,1158.579956,1145.000000,1153.579956,2.0,1238800
637,2019-07-17,1150.969971,1158.359985,1145.770020,1146.349976,2.0,1170000
638,2019-07-18,1141.739990,1147.604980,1132.729980,1146.329956,2.0,1291300
639,2019-07-19,1148.189941,1151.140015,1129.619995,1130.099976,2.0,1647200
640,2019-07-22,1133.449951,1139.250000,1124.239990,1138.069946,2.0,1301500
641,2019-07-23,1144.000000,1146.900024,1131.800049,1146.209961,2.0,1093700
642,2019-07-24,1131.900024,1144.000000,1126.989990,1137.810059,2.0,1589800
643,2019-07-25,1137.819946,1141.699951,1120.920044,1132.119995,2.0,2209800
644,2019-07-26,1224.040039,1265.550049,1224.000000,1250.410034,2.0,4805800
645,2019-07-29,1241.050049,1247.369995,1228.229980,1239.410034,2.0,2223700
646,2019-07-30,1225.410034,1234.869995,1223.300049,1225.140015,2.0,1453300
647,2019-07-31,1223.000000,1234.000000,1207.764038,1216.680054,2.0,1725500
648,2019-08-01,1214.030029,1234.109985,1205.719971,1209.010010,2.0,1698500
649,2019-08-02,1200.739990,1206.900024,1188.939941,1193.989990,2.0,1634600

In [45]:
# trier une colonne en Ordre Ascendant
cars.sort_values(by='Volume')

,Date,Open,High,Low,Close,Adj Close,Volume
226,2017-11-24,1035.869995,1043.177979,1035.000000,1040.609985,2.0,537000
377,2018-07-03,1135.819946,1135.819946,1100.020020,1102.890015,2.0,679000
477,2018-11-23,1030.000000,1037.589966,1022.398987,1023.880005,2.0,691500
571,2019-04-11,1203.959961,1207.959961,1200.130005,1204.619995,2.0,710200
217,2017-11-10,1026.459961,1030.760010,1025.280029,1028.069946,2.0,720000
570,2019-04-10,1200.680054,1203.785034,1196.435059,1202.160034,2.0,724600
225,2017-11-22,1035.000000,1039.706055,1031.430054,1035.959961,2.0,746300
246,2017-12-22,1061.109985,1064.199951,1059.439941,1060.119995,2.0,755100
247,2017-12-26,1058.069946,1060.119995,1050.199951,1056.739990,2.0,760600
350,2018-05-24,1079.000000,1080.469971,1066.150024,1079.239990,2.0,766800
628,2019-07-03,1117.410034,1126.760010,1113.859985,1121.579956,2.0,767000
48,2017-03-14,843.640015,847.239990,840.799988,845.619995,2.0,779900
381,2018-07-10,1156.979980,1159.589966,1149.589966,1152.839966,2.0,798400
577,2019-04-22,1235.989990,1249.089966,1228.310059,1248.839966,2.0,807300
564,2019-04-02,1195.319946,1201.349976,1185.709961,1200.489990,2.0,827900
89,2017-05-11,925.320007,932.530029,923.030029,930.599976,2.0,835000
72,2017-04-18,834.219971,838.929993,832.710022,836.820007,2.0,836700
249,2017-12-28,1051.599976,1054.750000,1044.770020,1048.140015,2.0,837100
403,2018-08-09,1249.900024,1255.541992,1246.010010,1249.099976,2.0,848600
220,2017-11-15,1019.210022,1024.089966,1015.419983,1020.909973,2.0,854000
574,2019-04-16,1225.000000,1230.819946,1220.119995,1227.130005,2.0,856300
568,2019-04-08,1207.890015,1208.689941,1199.859985,1203.839966,2.0,860200
634,2019-07-12,1143.989990,1147.339966,1138.780029,1144.900024,2.0,864000
410,2018-08-20,1205.020020,1211.000000,1194.625977,1207.770020,2.0,870800
569,2019-04-09,1196.000000,1202.290039,1193.079956,1197.250000,2.0,876400
155,2017-08-15,924.229980,926.549988,919.820007,922.219971,2.0,883400
218,2017-11-13,1023.419983,1031.579956,1022.570007,1025.750000,2.0,885800
412,2018-08-22,1200.000000,1211.839966,1199.000000,1207.329956,2.0,887400
250,2017-12-29,1046.719971,1049.699951,1044.900024,1046.400024,2.0,887500
189,2017-10-03,954.000000,958.000000,949.140015,957.789978,2.0,888300
...,...,...,...,...,...,...,...
302,2018-03-16,1154.140015,1155.880005,1131.959961,1135.729980,2.0,3092000
114,2017-06-16,940.000000,942.039978,931.594971,939.780029,2.0,3094700
309,2018-03-27,1063.000000,1064.838989,996.919983,1005.099976,2.0,3095300
460,2018-10-30,1008.460022,1037.489990,1000.750000,1036.209961,2.0,3212700
142,2017-07-27,951.780029,951.780029,920.000000,934.090027,2.0,3213000
18,2017-01-30,814.659973,815.840027,799.799988,802.320007,2.0,3246600
139,2017-07-24,972.219971,986.200012,970.770020,980.340027,2.0,3248300
241,2017-12-15,1054.609985,1067.619995,1049.500000,1064.189941,2.0,3275900
80,2017-04-28,910.659973,916.849976,905.770020,905.960022,2.0,3276300
123,2017-06-29,929.919983,931.260010,910.619995,917.789978,2.0,3299200
109,2017-06-09,984.500000,984.500000,935.630005,949.830017,2.0,3309400
391,2018-07-24,1262.589966,1266.000000,1235.560059,1248.079956,2.0,3318200
310,2018-03-28,998.000000,1024.229980,980.640015,1004.559998,2.0,3369300
275,2018-02-06,1027.180054,1081.709961,1023.137024,1080.599976,2.0,3448000
55,2017-03-23,821.000000,822.570007,812.257019,817.580017,2.0,3487100
278,2018-02-09,1017.250000,1043.969971,992.559998,1037.780029,2.0,3505900
525,2019-02-05,1124.839966,1146.849976,1117.248047,1145.989990,2.0,3552200
110,2017-06-12,939.559998,949.354980,915.232971,942.900024,2.0,3763500
274,2018-02-05,1090.599976,1110.000000,1052.030029,1055.800049,2.0,3798300
459,2018-10-29,1082.469971,1097.040039,995.830017,1020.080017,2.0,3880700
458,2018-10-26,1037.030029,1106.530029,1034.089966,1071.469971,2.0,4187600
433,2018-09-21,1192.000000,1192.209961,1166.040039,1166.089966,2.0,4405600
496,2018-12-21,1015.299988,1024.020020,973.690002,979.539978,2.0,4596000
140,2017-07-25,953.809998,959.700012,945.400024,950.700012,2.0,4661000
328,2018-04-24,1052.000000,1057.000000,1010.590027,1019.979980,2.0,4760300
644,2019-07-26,1224.040039,1265.550049,1224.000000,1250.410034,2.0,4805800
273,2018-02-02,1122.000000,1123.069946,1107.277954,1111.900024,2.0,4857900
606,2019-06-03,1065.500000,1065.500000,1025.000000,1036.229980,2.0,5130600
207,2017-10-27,1009.190002,1048.390015,1008.200012,1019.270020,2.0,5167700
583,2019-04-30,1185.000000,1192.810059,1175.000000,1188.479980,2.0,6207000

In [47]:
# trier une colonne en Ordre DSC
cars.sort_values(by='Volume', ascending=False)

,Date,Open,High,Low,Close,Adj Close,Volume
583,2019-04-30,1185.000000,1192.810059,1175.000000,1188.479980,2.0,6207000
207,2017-10-27,1009.190002,1048.390015,1008.200012,1019.270020,2.0,5167700
606,2019-06-03,1065.500000,1065.500000,1025.000000,1036.229980,2.0,5130600
273,2018-02-02,1122.000000,1123.069946,1107.277954,1111.900024,2.0,4857900
644,2019-07-26,1224.040039,1265.550049,1224.000000,1250.410034,2.0,4805800
328,2018-04-24,1052.000000,1057.000000,1010.590027,1019.979980,2.0,4760300
140,2017-07-25,953.809998,959.700012,945.400024,950.700012,2.0,4661000
496,2018-12-21,1015.299988,1024.020020,973.690002,979.539978,2.0,4596000
433,2018-09-21,1192.000000,1192.209961,1166.040039,1166.089966,2.0,4405600
458,2018-10-26,1037.030029,1106.530029,1034.089966,1071.469971,2.0,4187600
459,2018-10-29,1082.469971,1097.040039,995.830017,1020.080017,2.0,3880700
274,2018-02-05,1090.599976,1110.000000,1052.030029,1055.800049,2.0,3798300
110,2017-06-12,939.559998,949.354980,915.232971,942.900024,2.0,3763500
525,2019-02-05,1124.839966,1146.849976,1117.248047,1145.989990,2.0,3552200
278,2018-02-09,1017.250000,1043.969971,992.559998,1037.780029,2.0,3505900
55,2017-03-23,821.000000,822.570007,812.257019,817.580017,2.0,3487100
275,2018-02-06,1027.180054,1081.709961,1023.137024,1080.599976,2.0,3448000
310,2018-03-28,998.000000,1024.229980,980.640015,1004.559998,2.0,3369300
391,2018-07-24,1262.589966,1266.000000,1235.560059,1248.079956,2.0,3318200
109,2017-06-09,984.500000,984.500000,935.630005,949.830017,2.0,3309400
123,2017-06-29,929.919983,931.260010,910.619995,917.789978,2.0,3299200
80,2017-04-28,910.659973,916.849976,905.770020,905.960022,2.0,3276300
241,2017-12-15,1054.609985,1067.619995,1049.500000,1064.189941,2.0,3275900
139,2017-07-24,972.219971,986.200012,970.770020,980.340027,2.0,3248300
18,2017-01-30,814.659973,815.840027,799.799988,802.320007,2.0,3246600
142,2017-07-27,951.780029,951.780029,920.000000,934.090027,2.0,3213000
460,2018-10-30,1008.460022,1037.489990,1000.750000,1036.209961,2.0,3212700
309,2018-03-27,1063.000000,1064.838989,996.919983,1005.099976,2.0,3095300
114,2017-06-16,940.000000,942.039978,931.594971,939.780029,2.0,3094700
302,2018-03-16,1154.140015,1155.880005,1131.959961,1135.729980,2.0,3092000
...,...,...,...,...,...,...,...
189,2017-10-03,954.000000,958.000000,949.140015,957.789978,2.0,888300
250,2017-12-29,1046.719971,1049.699951,1044.900024,1046.400024,2.0,887500
412,2018-08-22,1200.000000,1211.839966,1199.000000,1207.329956,2.0,887400
218,2017-11-13,1023.419983,1031.579956,1022.570007,1025.750000,2.0,885800
155,2017-08-15,924.229980,926.549988,919.820007,922.219971,2.0,883400
569,2019-04-09,1196.000000,1202.290039,1193.079956,1197.250000,2.0,876400
410,2018-08-20,1205.020020,1211.000000,1194.625977,1207.770020,2.0,870800
634,2019-07-12,1143.989990,1147.339966,1138.780029,1144.900024,2.0,864000
568,2019-04-08,1207.890015,1208.689941,1199.859985,1203.839966,2.0,860200
574,2019-04-16,1225.000000,1230.819946,1220.119995,1227.130005,2.0,856300
220,2017-11-15,1019.210022,1024.089966,1015.419983,1020.909973,2.0,854000
403,2018-08-09,1249.900024,1255.541992,1246.010010,1249.099976,2.0,848600
249,2017-12-28,1051.599976,1054.750000,1044.770020,1048.140015,2.0,837100
72,2017-04-18,834.219971,838.929993,832.710022,836.820007,2.0,836700
89,2017-05-11,925.320007,932.530029,923.030029,930.599976,2.0,835000
564,2019-04-02,1195.319946,1201.349976,1185.709961,1200.489990,2.0,827900
577,2019-04-22,1235.989990,1249.089966,1228.310059,1248.839966,2.0,807300
381,2018-07-10,1156.979980,1159.589966,1149.589966,1152.839966,2.0,798400
48,2017-03-14,843.640015,847.239990,840.799988,845.619995,2.0,779900
628,2019-07-03,1117.410034,1126.760010,1113.859985,1121.579956,2.0,767000
350,2018-05-24,1079.000000,1080.469971,1066.150024,1079.239990,2.0,766800
247,2017-12-26,1058.069946,1060.119995,1050.199951,1056.739990,2.0,760600
246,2017-12-22,1061.109985,1064.199951,1059.439941,1060.119995,2.0,755100
225,2017-11-22,1035.000000,1039.706055,1031.430054,1035.959961,2.0,746300
570,2019-04-10,1200.680054,1203.785034,1196.435059,1202.160034,2.0,724600
217,2017-11-10,1026.459961,1030.760010,1025.280029,1028.069946,2.0,720000
571,2019-04-11,1203.959961,1207.959961,1200.130005,1204.619995,2.0,710200
477,2018-11-23,1030.000000,1037.589966,1022.398987,1023.880005,2.0,691500
377,2018-07-03,1135.819946,1135.819946,1100.020020,1102.890015,2.0,679000
226,2017-11-24,1035.869995,1043.177979,1035.000000,1040.609985,2.0,537000

In [49]:
# filtrer des donner
cars['Open'] > 1000

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
620     True
621     True
622     True
623     True
624     True
625     True
626     True
627     True
628     True
629     True
630     True
631     True
632     True
633     True
634     True
635     True
636     True
637     True
638     True
639     True
640     True
641     True
642     True
643     True
644     True
645     True
646     True
647     True
648     True
649     True
Name: Open, Length: 650, dtype: bool

In [52]:
# filtrer les enreg avec plus de 1 500 000 en volume
filter1 = cars['Volume'] > 1500000
# appliqueer le  filtre au DataFrame
filtered_new = cars[filter1]
# consulter la nouvelle dataFrame
filtered_new

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,778.809998,789.630005,775.799988,786.140015,2.0,1657300
3,2017-01-06,795.260010,807.900024,792.203979,806.150024,2.0,1640200
12,2017-01-20,806.909973,806.909973,801.690002,805.020020,2.0,1670000
13,2017-01-23,807.250000,820.869995,803.739990,819.309998,2.0,1963600
16,2017-01-26,837.809998,838.000000,827.010010,832.150024,2.0,2973900
17,2017-01-27,834.710022,841.950012,820.440002,823.309998,2.0,2965800
18,2017-01-30,814.659973,815.840027,799.799988,802.320007,2.0,3246600
19,2017-01-31,796.859985,801.250000,790.520020,796.789978,2.0,2160600
20,2017-02-01,799.679993,801.190002,791.190002,795.695007,2.0,2029700
21,2017-02-02,793.799988,802.700012,792.000000,798.530029,2.0,1532100
32,2017-02-17,823.020020,828.070007,821.655029,828.070007,2.0,1611000
38,2017-02-28,825.609985,828.539978,820.200012,823.210022,2.0,2260800
46,2017-03-10,843.280029,844.909973,839.500000,843.250000,2.0,1704000
51,2017-03-17,851.609985,853.400024,847.109985,852.119995,2.0,1712300
53,2017-03-21,851.400024,853.500000,829.020020,830.460022,2.0,2463500
55,2017-03-23,821.000000,822.570007,812.257019,817.580017,2.0,3487100
56,2017-03-24,820.080017,821.929993,808.890015,814.429993,2.0,1981000
57,2017-03-27,806.950012,821.630005,803.369995,819.510010,2.0,1894300
58,2017-03-28,820.409973,825.989990,814.026978,820.919983,2.0,1620500
59,2017-03-29,825.000000,832.765015,822.380005,831.409973,2.0,1786300
62,2017-04-03,829.219971,840.849976,829.219971,838.549988,2.0,1671500
64,2017-04-05,835.510010,842.450012,830.719971,831.409973,2.0,1555300
77,2017-04-25,865.000000,875.000000,862.809998,872.299988,2.0,1672000
79,2017-04-27,873.599976,875.400024,870.380005,874.250000,2.0,2026800
80,2017-04-28,910.659973,916.849976,905.770020,905.960022,2.0,3276300
81,2017-05-01,901.940002,915.679993,901.450012,912.570007,2.0,2116000
82,2017-05-02,909.619995,920.770020,909.453003,916.440002,2.0,1587200
85,2017-05-05,933.539978,934.900024,925.200012,927.130005,2.0,1911300
87,2017-05-09,936.950012,937.500000,929.530029,932.169983,2.0,1581800
93,2017-05-17,935.669983,939.333008,918.140015,919.619995,2.0,2362100
...,...,...,...,...,...,...,...
582,2019-04-29,1274.000000,1289.270020,1266.295044,1287.579956,2.0,2499400
583,2019-04-30,1185.000000,1192.810059,1175.000000,1188.479980,2.0,6207000
584,2019-05-01,1188.050049,1188.050049,1167.180054,1168.079956,2.0,2639200
585,2019-05-02,1167.760010,1174.189941,1155.001953,1162.609985,2.0,1944800
586,2019-05-03,1173.650024,1186.800049,1169.000000,1185.400024,2.0,1980700
587,2019-05-06,1166.260010,1190.849976,1166.260010,1189.390015,2.0,1563900
588,2019-05-07,1180.469971,1190.439941,1161.040039,1174.099976,2.0,1551400
592,2019-05-13,1141.959961,1147.939941,1122.109985,1132.030029,2.0,1860600
593,2019-05-14,1137.209961,1140.420044,1119.550049,1120.439941,2.0,1836600
594,2019-05-15,1117.869995,1171.329956,1116.666016,1164.209961,2.0,2289300
595,2019-05-16,1164.510010,1188.160034,1162.839966,1178.979980,2.0,1531400
603,2019-05-29,1127.520020,1129.099976,1108.219971,1116.459961,2.0,1538200
605,2019-05-31,1101.290039,1109.599976,1100.180054,1103.630005,2.0,1507800
606,2019-06-03,1065.500000,1065.500000,1025.000000,1036.229980,2.0,5130600
607,2019-06-04,1042.900024,1056.050049,1033.689941,1053.050049,2.0,2833500
608,2019-06-05,1051.540039,1053.550049,1030.489990,1042.219971,2.0,2168400
609,2019-06-06,1044.989990,1047.489990,1033.699951,1044.339966,2.0,1703200
610,2019-06-07,1050.630005,1070.920044,1048.400024,1066.040039,2.0,1802400
620,2019-06-21,1109.239990,1124.109985,1108.079956,1121.880005,2.0,1947600
622,2019-06-25,1112.660034,1114.349976,1083.800049,1086.349976,2.0,1546900
623,2019-06-26,1086.500000,1092.969971,1072.239990,1079.800049,2.0,1810900
625,2019-06-28,1076.390015,1081.000000,1073.369995,1080.910034,2.0,1693200
639,2019-07-19,1148.189941,1151.140015,1129.619995,1130.099976,2.0,1647200
642,2019-07-24,1131.900024,1144.000000,1126.989990,1137.810059,2.0,1589800
643,2019-07-25,1137.819946,1141.699951,1120.920044,1132.119995,2.0,2209800
644,2019-07-26,1224.040039,1265.550049,1224.000000,1250.410034,2.0,4805800
645,2019-07-29,1241.050049,1247.369995,1228.229980,1239.410034,2.0,2223700
647,2019-07-31,1223.000000,1234.000000,1207.764038,1216.680054,2.0,1725500
648,2019-08-01,1214.030029,1234.109985,1205.719971,1209.010010,2.0,1698500
649,2019-08-02,1200.739990,1206.900024,1188.939941,1193.989990,2.0,1634600

In [68]:
#filtre des donnes avec plus de 900 Open et plus de 1500000 Volumes
filter2 = (cars["Open"]<800) & (cars["Volume"]>1500000)
#appliquer le filtre a la dataframe
filtered_review = cars[filter2]
#afficher les donnees
filtered_review

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-01-03,778.809998,789.630005,775.799988,786.140015,2.0,1657300
3,2017-01-06,795.260010,807.900024,792.203979,806.150024,2.0,1640200
19,2017-01-31,796.859985,801.250000,790.520020,796.789978,2.0,2160600
20,2017-02-01,799.679993,801.190002,791.190002,795.695007,2.0,2029700
21,2017-02-02,793.799988,802.700012,792.000000,798.530029,2.0,1532100