# Series object in Pandas

In [1]:
import pandas as pd

data = [1,2,3,5]
series1 = pd.Series(data)
series1

0    1
1    2
2    3
3    5
dtype: int64

In [7]:
type(series1)

pandas.core.series.Series

In [10]:
#changing index of series
series1 = pd.Series(data, index = ['a', 'b', 'c', 'd'])
series1

a    1
b    2
c    3
d    5
dtype: int64

# Create a dataFrame

In [15]:
#creating a dataFrame using a list
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [17]:
#creating a dataFrame using a dictionnary
dictionnary = {'fruit':['apples', 'banana', 'mangoes'], 'count':[10,20,15]}
df = pd.DataFrame(dictionnary)
df

     fruit  count
0   apples     10
1   banana     20
2  mangoes     15

In [19]:
# creating a dataFrame using a series
series = pd.Series([6,12], index = ['a', 'b'])
df = pd.DataFrame(series)
df

    0
a   6
b  12

In [26]:
# creating a dataFrame using a numpy arrays
import numpy as np
numpyarray = np.array([[50000,60000], ['john', 'james']])
df = pd.DataFrame({'name':numpyarray[1], 'salary':numpyarray[0]})
df

    name salary
0   john  50000
1  james  60000

# how to perform a Merge Operation between two dataFrame

In [29]:
import pandas as pd
player = ['Player1', 'Player2', 'Player3']
point = [8,9,6]
title = ['Game1', 'Game2', 'Game3']
df1 = pd.DataFrame({'Player':player, 'Point':point, 'Title':title})
df1

    Player  Point  Title
0  Player1      8  Game1
1  Player2      9  Game2
2  Player3      6  Game3

In [31]:
player = ['Player1', 'Player5', 'Player6']
power = ['punch', 'kick', 'Elbow']
title = ['Game1', 'Game5', 'Game6']
df2 = pd.DataFrame({'Player':player, 'Power':power, 'Title':title})
df2

    Player  Power  Title
0  Player1  punch  Game1
1  Player5   kick  Game5
2  Player6  Elbow  Game6

In [34]:
#Inner Merge by default
df1.merge(df2, on='Player', how = 'inner')

    Player  Point Title_x  Power Title_y
0  Player1      8   Game1  punch   Game1

In [39]:
#left Merge
df1.merge(df2, on='Player', how = 'left')

    Player  Point Title_x  Power Title_y
0  Player1      8   Game1  punch   Game1
1  Player2      9   Game2    NaN     NaN
2  Player3      6   Game3    NaN     NaN

In [41]:
#Right Merge
df1.merge(df2, on='Player', how = 'right')

    Player  Point Title_x  Power Title_y
0  Player1    8.0   Game1  punch   Game1
1  Player5    NaN     NaN   kick   Game5
2  Player6    NaN     NaN  Elbow   Game6

In [43]:
#Outer Merge
df1.merge(df2, on='Player', how = 'outer')

    Player  Point Title_x  Power Title_y
0  Player1    8.0   Game1  punch   Game1
1  Player2    9.0   Game2    NaN     NaN
2  Player3    6.0   Game3    NaN     NaN
3  Player5    NaN     NaN   kick   Game5
4  Player6    NaN     NaN  Elbow   Game6

# How to perform join operation in pandas

In [9]:
import pandas as pd
player = ['Player1', 'Player2', 'Player3']
point = [8,9,6]
title = ['Game1', 'Game2', 'Game3']
df3 = pd.DataFrame({'Player':player, 'Point':point, 'Title':title}, index=['L1', 'L2', 'L3'])
df3

     Player  Point  Title
L1  Player1      8  Game1
L2  Player2      9  Game2
L3  Player3      6  Game3

In [22]:
player = ['Player1', 'Player5', 'Player6']
power = ['Puch', 'Kick', 'Elbow']
title = ['Game1', 'Game5', 'Game6']
df4 = pd.DataFrame({'Players':player, 'Power':power, 'Titles':title}, index=['L2', 'L3', 'L4'])
df4

    Players  Power Titles
L2  Player1   Puch  Game1
L3  Player5   Kick  Game5
L4  Player6  Elbow  Game6

In [23]:
# inner join 
df3.join(df4, how='inner')

     Player  Point  Title  Players Power Titles
L2  Player2      9  Game2  Player1  Puch  Game1
L3  Player3      6  Game3  Player5  Kick  Game5

In [24]:
#left join
df3.join(df4,how='left')

     Player  Point  Title  Players Power Titles
L1  Player1      8  Game1      NaN   NaN    NaN
L2  Player2      9  Game2  Player1  Puch  Game1
L3  Player3      6  Game3  Player5  Kick  Game5

In [26]:
#right join
df3.join(df4,how='right')

     Player  Point  Title  Players  Power Titles
L2  Player2    9.0  Game2  Player1   Puch  Game1
L3  Player3    6.0  Game3  Player5   Kick  Game5
L4      NaN    NaN    NaN  Player6  Elbow  Game6

In [28]:
#outer join
df3.join(df4,how='outer')

     Player  Point  Title  Players  Power Titles
L1  Player1    8.0  Game1      NaN    NaN    NaN
L2  Player2    9.0  Game2  Player1   Puch  Game1
L3  Player3    6.0  Game3  Player5   Kick  Game5
L4      NaN    NaN    NaN  Player6  Elbow  Game6

 # how to concatenate two dataFrame

In [29]:
pd.concat([df3, df4])

/home/youngdevps/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

     Player  Players  Point  Power  Title Titles
L1  Player1      NaN    8.0    NaN  Game1    NaN
L2  Player2      NaN    9.0    NaN  Game2    NaN
L3  Player3      NaN    6.0    NaN  Game3    NaN
L2      NaN  Player1    NaN   Puch    NaN  Game1
L3      NaN  Player5    NaN   Kick    NaN  Game5
L4      NaN  Player6    NaN  Elbow    NaN  Game6